In [4]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error,r2_score
import matplotlib.pyplot as plt

In [11]:
train = pd.read_csv('train.csv')
train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [12]:
train.shape

(4209, 378)

In [13]:
train.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 378, dtype: int64

In [14]:
train.info

<bound method DataFrame.info of         ID       y  X0 X1  X2 X3 X4  X5 X6 X8  ...  X375  X376  X377  X378  \
0        0  130.81   k  v  at  a  d   u  j  o  ...     0     0     1     0
1        6   88.53   k  t  av  e  d   y  l  o  ...     1     0     0     0
2        7   76.26  az  w   n  c  d   x  j  x  ...     0     0     0     0
3        9   80.62  az  t   n  f  d   x  l  e  ...     0     0     0     0
4       13   78.02  az  v   n  f  d   h  d  n  ...     0     0     0     0
...    ...     ...  .. ..  .. .. ..  .. .. ..  ...   ...   ...   ...   ...
4204  8405  107.39  ak  s  as  c  d  aa  d  q  ...     1     0     0     0
4205  8406  108.77   j  o   t  d  d  aa  h  h  ...     0     1     0     0
4206  8412  109.22  ak  v   r  a  d  aa  g  e  ...     0     0     1     0
4207  8415   87.48  al  r   e  f  d  aa  l  u  ...     0     0     0     0
4208  8417  110.85   z  r  ae  c  d  aa  g  w  ...     1     0     0     0

      X379  X380  X382  X383  X384  X385
0        0     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     1     0     0     0
3        0     0     0     0     0     0
4        0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
4204     0     0     0     0     0     0
4205     0     0     0     0     0     0
4206     0     0     0     0     0     0
4207     0     0     0     0     0     0
4208     0     0     0     0     0     0

[4209 rows x 378 columns]>

In [17]:
y_train = train['y'].values
y_train

array([130.81,  88.53,  76.26, ..., 109.22,  87.48, 110.85])

In [21]:
colum_x = [c for c in train.columns if 'X' in c]
print(len(colum_x))
print(train[colum_x].dtypes.value_counts())

376
int64     368
object      8
dtype: int64

In [23]:
test = pd.read_csv('test.csv')
test.head

<bound method NDFrame.head of         ID  X0  X1  X2 X3 X4  X5 X6 X8  X10  ...  X375  X376  X377  X378  \
0        1  az   v   n  f  d   t  a  w    0  ...     0     0     0     1
1        2   t   b  ai  a  d   b  g  y    0  ...     0     0     1     0
2        3  az   v  as  f  d   a  j  j    0  ...     0     0     0     1
3        4  az   l   n  f  d   z  l  n    0  ...     0     0     0     1
4        5   w   s  as  c  d   y  i  m    0  ...     1     0     0     0
...    ...  ..  ..  .. .. ..  .. .. ..  ...  ...   ...   ...   ...   ...
4204  8410  aj   h  as  f  d  aa  j  e    0  ...     0     0     0     0
4205  8411   t  aa  ai  d  d  aa  j  y    0  ...     0     1     0     0
4206  8413   y   v  as  f  d  aa  d  w    0  ...     0     0     0     0
4207  8414  ak   v  as  a  d  aa  c  q    0  ...     0     0     1     0
4208  8416   t  aa  ai  c  d  aa  g  r    0  ...     1     0     0     0

      X379  X380  X382  X383  X384  X385
0        0     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     0     0     0     0
3        0     0     0     0     0     0
4        0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
4204     0     0     0     0     0     0
4205     0     0     0     0     0     0
4206     0     0     0     0     0     0
4207     0     0     0     0     0     0
4208     0     0     0     0     0     0

[4209 rows x 377 columns]>

In [24]:
test.info

<bound method DataFrame.info of         ID  X0  X1  X2 X3 X4  X5 X6 X8  X10  ...  X375  X376  X377  X378  \
0        1  az   v   n  f  d   t  a  w    0  ...     0     0     0     1
1        2   t   b  ai  a  d   b  g  y    0  ...     0     0     1     0
2        3  az   v  as  f  d   a  j  j    0  ...     0     0     0     1
3        4  az   l   n  f  d   z  l  n    0  ...     0     0     0     1
4        5   w   s  as  c  d   y  i  m    0  ...     1     0     0     0
...    ...  ..  ..  .. .. ..  .. .. ..  ...  ...   ...   ...   ...   ...
4204  8410  aj   h  as  f  d  aa  j  e    0  ...     0     0     0     0
4205  8411   t  aa  ai  d  d  aa  j  y    0  ...     0     1     0     0
4206  8413   y   v  as  f  d  aa  d  w    0  ...     0     0     0     0
4207  8414  ak   v  as  a  d  aa  c  q    0  ...     0     0     1     0
4208  8416   t  aa  ai  c  d  aa  g  r    0  ...     1     0     0     0

      X379  X380  X382  X383  X384  X385
0        0     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     0     0     0     0
3        0     0     0     0     0     0
4        0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
4204     0     0     0     0     0     0
4205     0     0     0     0     0     0
4206     0     0     0     0     0     0
4207     0     0     0     0     0     0
4208     0     0     0     0     0     0

[4209 rows x 377 columns]>

In [25]:
test.shape

(4209, 377)

In [26]:
final_column = list(set(train.columns) - set(['ID', 'y']))
x_train = train[final_column]
x_train

,X115,X326,X225,X300,X281,X270,X382,X178,X342,X375,...,X119,X347,X80,X304,X287,X186,X129,X14,X310,X377
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,1,0,1,...,1,0,1,1,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,1,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0,0,1,0,0,0,0,0,0,1,...,1,0,1,1,0,0,1,1,0,0
4205,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
4206,0,0,0,0,0,0,0,1,0,0,...,1,0,1,1,0,0,0,0,0,1
4207,1,0,0,0,0,0,0,1,0,0,...,0,0,1,1,0,1,0,1,0,0
4208,0,0,0,0,0,0,0,1,1,1,...,1,0,1,1,0,1,0,0,0,0

In [27]:
x_test = test[final_column]
x_test

,X115,X326,X225,X300,X281,X270,X382,X178,X342,X375,...,X119,X347,X80,X304,X287,X186,X129,X14,X310,X377
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,1,1,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,1,...,1,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,1,0,0,1,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
4205,0,1,0,0,0,0,0,1,0,0,...,1,0,1,1,0,1,1,0,0,0
4206,1,0,0,1,0,0,0,0,0,0,...,0,0,1,1,0,1,0,1,0,0
4207,0,0,0,1,0,0,0,0,0,0,...,1,0,1,1,0,0,0,1,0,1
4208,0,0,0,0,0,0,0,1,0,1,...,1,0,1,1,0,1,1,0,0,0

In [29]:
train.isnull().sum().any()

False

In [30]:
test.isnull().sum().any()

False

In [32]:
variance = pow(train.drop(columns={'ID','y'}).std(),2).to_dict()

null_cnt = 0
for key, value in variance.items():
    if(value==0):
        print('Name = ',key)
        null_cnt = null_cnt+1
print('No of columns which has zero variance = ',null_cnt)

Name =  X11
Name =  X93
Name =  X107
Name =  X233
Name =  X235
Name =  X268
Name =  X289
Name =  X290
Name =  X293
Name =  X297
Name =  X330
Name =  X347
No of columns which has zero variance =  12

In [34]:
train = train.drop(columns={'X11','X93','X107','X233','X235','X268','X289','X290','X293','X297','X330','X347'})
train.shape

(4209, 366)

In [36]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [38]:
train_feature = train.drop(columns={'y','ID'})
train_target = train.y
print(train_feature.shape)
print(train_target.shape)

(4209, 364)
(4209,)

In [39]:
train_feature.describe(include='object')

          X0    X1    X2    X3    X4    X5    X6    X8
count   4209  4209  4209  4209  4209  4209  4209  4209
unique    47    27    44     7     4    29    12    25
top        z    aa    as     c     d     v     g     j
freq     360   833  1659  1942  4205   231  1042   277

In [41]:
train_feature['X0'] = le.fit_transform(train_feature.X0)
train_feature['X1'] = le.fit_transform(train_feature.X1)
train_feature['X2'] = le.fit_transform(train_feature.X2)
train_feature['X3'] = le.fit_transform(train_feature.X3)
train_feature['X4'] = le.fit_transform(train_feature.X4)
train_feature['X5'] = le.fit_transform(train_feature.X5)
train_feature['X6'] = le.fit_transform(train_feature.X6)
train_feature['X8'] = le.fit_transform(train_feature.X8)

In [42]:
print(train_feature.shape)
print(train_target.shape)

(4209, 364)
(4209,)

In [43]:
from sklearn.decomposition import PCA
pca = PCA(n_components=.95)

In [44]:
train_feature_trans = pca.fit_transform(train_feature)
print(train_feature_trans.shape)

(4209, 6)

In [48]:
import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from math import sqrt

In [49]:
x_train,x_test,y_train,y_test = train_test_split(train_feature_trans,train_target,test_size=.3,random_state=7)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(2946, 6)
(1263, 6)
(2946,)
(1263,)

In [50]:
xgb_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.4, max_depth = 10, alpha = 6, 
                           n_estimators = 20)
model = xgb_reg.fit(x_train,y_train)
print('RMSE = ',sqrt(mean_squared_error(model.predict(x_test),y_test)))

[12:49:56] WARNING: /workspace/src/objective/regression_obj.cu:167: reg:linear is now deprecated in favor of reg:squarederror.
RMSE =  12.237860466379919

In [51]:
pred_y_test = model.predict(x_test)

In [52]:
test_data = test.drop(columns={'X11','X93','X107','X233','X235','X268','X289','X290','X293','X297','X330','X347'})
test_data.shape

(4209, 365)

In [53]:
test_data.isnull().sum().any()

False

In [54]:
test_feature = test_data.drop(columns={'ID'})
print(test_feature.shape)

(4209, 364)

In [55]:
test_feature.describe(include='object')

          X0    X1    X2    X3    X4    X5    X6    X8
count   4209  4209  4209  4209  4209  4209  4209  4209
unique    49    27    45     7     4    32    12    25
top       ak    aa    as     c     d     v     g     e
freq     432   826  1658  1900  4203   246  1073   274

In [56]:
test_feature['X0'] = le.fit_transform(test_feature.X0)
test_feature['X1'] = le.fit_transform(test_feature.X1)
test_feature['X2'] = le.fit_transform(test_feature.X2)
test_feature['X3'] = le.fit_transform(test_feature.X3)
test_feature['X4'] = le.fit_transform(test_feature.X4)
test_feature['X5'] = le.fit_transform(test_feature.X5)
test_feature['X6'] = le.fit_transform(test_feature.X6)
test_feature['X8'] = le.fit_transform(test_feature.X8)

In [58]:
pca.fit(test_feature)

PCA(n_components=0.95)

In [59]:
test_feature_trans = pca.fit_transform(test_feature)
print(test_feature_trans.shape)

(4209, 6)

In [60]:
test_pred = model.predict(test_feature_trans)
test_pred

array([ 80.20003 ,  92.969574, 101.64637 , ...,  95.79453 , 110.24724 ,
        98.970345], dtype=float32)